/* GLACIAL FONTS */
@font-face {
	font-family: glacialBold;
	src: url(../fonts/glacial/gi-bold.otf);
}

@font-face {
	font-family: glacialItalic;
	src: url(../fonts/glacial/gi-italic.otf);
}

@font-face {
	font-family: glacialReg;
	src: url(../fonts/glacial/gi-reg.otf);
}

/* SHRIKHAND FONTS */
@font-face {
	font-family: shrik;
	src: url(../fonts/shrikhand/shrik-reg.ttf);
}

/* ARTICULAT FONTS */

@font-face {
	font-family: articulatMed;
	src: url(../fonts/articulat/ArticulatCF-Medium.otf);
}

@font-face {
	font-family: articulatNormal;
	src: url(../fonts/articulat/ArticulatCF-Normal.otf);
}

/* TEXT ELEMENTS */

* {
	margin: 0;
}

body {
	background-color: #F1F5F1;
	color: #658C94;
	flex-direction: column;
}

a {
	text-decoration-line: none;
	text-decoration: none;
	text-decoration-style: none;
}

#logo {
	width: 10vw;
	padding: 1rem 2rem 0 2rem;
	float: left;
}


/* NAVIGATION BAR */
nav {

	font-family: shrik;
	padding-top: 3vw;
	float: left;
	text-align: center;
	color: white;
	animation-name: fadeInTop;
	animation-duration: 2s;
	animation-iteration-count: 1;
	overflow: scroll;
}

nav a {
	padding: 1rem 1.5rem 1rem 1.5rem;
	font-size: 1.5rem;
	color: #658C94;
	transition: 1s;
}

nav a:hover {
	text-decoration-line: overline;
	color: #CDC785;
}

.active {
	text-decoration-line: overline;
}

@keyframes fadeInTop {
	0% {
		transform: translateY(-75px);
	}

	30% {
		transform: translateY(-75px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* DIVS */

.parentDIV {
	display: flex;
	flex-direction: column;
}

.containerDIV {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.mainDIV {
	width: 70%;
}

.sideDIV {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30%;
	background-color: #47676B;
	color: #F1F5F1;
	padding: 5rem;
}

@media only screen and (max-width: 1080px) {
.containerDIV {
	display: block;
	flex-direction: column;
}

.mainDIV {
	width: 100%;
}

.sideDIV {
	width: auto;
	height: auto;
}

nav {
	justify-content: center;
}
}

/* SIDE DIV */

.sideDIV h1 {
	font-family: glacialReg;
	font-size: 5rem;
}

.sideDIV h2 {
	font-family: articulatMed;
	font-size: 1.5rem;
}
.sideDIV h3 {
	font-family: articulatNormal;
	font-size: 1rem;
}
/* MAIN */

#hand {
	width: 80%;
	animation-name: handIn;
	animation-duration: 3s;
	float: left;
}

@keyframes handIn {
	0% {
		transform: translateX(-60rem);
	}
}

@media only screen and (max-width: 1080px) {
	#hand {
		transform: translateX(-12rem);
	}
}

/* LOADER */

@keyframes rotate-animation {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}


.loaderDIV {
	width: 100%;
	height: 100%;
	background-color: #3D585D;
	position: absolute;
	top: 0;
	left: 0;
}

 .circle-loader {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 width: 8em;
	 height: 8em;
	 margin-left: -4em;
	 margin-top: -4em;

}
 .circle {
	 position: absolute;
	 top: 0;
	 left: 50%;
	 margin-left: -0.25em;
	 transform-origin: 0.25em 4em;
	 animation: rotate-animation 2.5s infinite;
	 width: 1em;
	 height: 1em;
	 border-radius: 50px;
	 background-color: #EDE8AB;
	 box-shadow: 0 0 0.5em rgba(255, 255, 255, .5);
}
 .circle-0 {
	 animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
 .circle-1 {
	 animation-timing-function: cubic-bezier(0.1625, 0, 0.8375, 1);
}
 .circle-2 {
	 animation-timing-function: cubic-bezier(0.325, 0, 0.675, 1);
}
 .circle-3 {
	 animation-timing-function: cubic-bezier(0.4875, 0, 0.5125, 1);
}
 .circle-4 {
	 animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}















